<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated robot_model_ros -->
      <package
            uri="http://ppgi.ufam.edu/robot_model_ros"
            class="ppgi.ufam.edu.robot_model_ros.Robot_model_rosPackage"
            genModel="model/robot_model_ros.genmodel"/>
   </extension>

</plugin>
