<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated robot_system -->
      <package
            uri="http://ppgi.ufam.edu.br/robot_system"
            class="ppgi.ufam.edu.robot_system.Robot_systemPackage"
            genModel="model/robot_system.genmodel"/>
   </extension>

</plugin>
